<!-- Author -->
<div class="info-bar">
	
	<div class="author">
		<a href="{{article.author.url}}">
			<img src="{{article.author.photo}}" alt="{{article.author.name}}">
		</a>
	</div>

	<!-- Article Info -->
	<div class="info">
		<div class="top">
			<a href="{{article.author.url}}" class="name">
				{{article.author.name}}
			</a>
			<time>{{article.published}}</time>
		</div>
		<!-- Subcategory -->
		<div class="bottom">
			<a href="{{article.subcategory.url}}" class="subtopic">
				{{article.subcategory.name}}
			</a>
		</div>
	</div>

</div>
<!-- Article Info -->