<section class="content myspace">
	<div class="container-fluid">
		<div class="row">
		<!-- Main Content -->
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			
			<!-- Lifestyle Selector -->
			<div class="col-xs-12 articles-block col-md-12 col-lg-11 col-lg-offset-1 col-sm-12 lifestage-selector">	
				<div class="row">
							{{#each lifestage}}
								<div class="lifestage-wrapper {{selected}} col-lg-4 col-md-4 col-sm-4 col-xs-12  col-xs-4">
									<div class="lifestage-image">
										<img class="img-responsive" src="{{image}}">
									</div>
									<div class="lifestage-label">
										<h4 class="text-center">{{label}}</h4>
									</div>
								</div>
							{{/each}}
					</div>
			</div>
			<!-- End of lifestage selector -->

			<!-- Select Wrapper -->
			<div class="col-xs-12 articles-block col-md-12 col-lg-12 col-sm-12">
				<div class="row">
						<!-- Wrapper  -->
						<div class="form-inline select-wrapper">
              				<div class="form-group">
				                	<label for="born-date">Was born on</label>
						            <!--  -->
					                <select class="form-control" id="born-date" name="born_day" required="">
					  					<option value="">dd</option>
					                    <option value="1">1</option>
					                    <option value="2">2</option>
									</select>
					                <!-- Month -->
					                <select class="form-control" id="born-month" name="born_month" required="">
					                   <option value="">mm</option>
						                <option value="1">January</option>
						                <option value="2">February</option>
						                <option value="3">March</option>
									</select>

					                <select class="form-control" id="born-year" name="born_year" required="">
					                  <option value="">year</option>
					                  <option value="2017">2017</option>
					                </select>
				              </div>
            			</div>
            			<!-- End of wrapper -->
				</div>
			</div>
			<!-- End of Select Wrapper -->
	
	
	<!-- User Interests -->
	<div class="col-xs-12 articles-block text-center col-md-12 col-lg-12 col-sm-12">
		<div class="row">
		<div class="interests-wrapper">
			   {{#each interests}}
			    <span class="interest {{selected-interest}}" data-term="{{interest-term}}">{{interest-label}}</span>
			   {{/each}}
			 
			 <button id="save-preferences" class="btn center-block">Save Preferences</button>
		</div>
		</div>
	</div>
	<!-- End of user Interests -->

	</div>
		<!-- End of Main Content -->
		
		<!-- SideContent -->
		<aside>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				
					<!-- Widget -->
		              {{#slotWidgetMapper 'slot_4'}}
		                {{> widgets/widgetGeneric}}
		              {{/slotWidgetMapper }}
	              	<!-- Widget -->
					<!-- Widget -->
		              {{#slotWidgetMapper 'slot_5'}}
		                {{> widgets/widgetGeneric}}
		              {{/slotWidgetMapper }}
	              	<!-- Widget -->
	              	<!-- Widget -->
		              {{#slotWidgetMapper 'slot_6'}}
		                {{> widgets/widgetGeneric}}
		              {{/slotWidgetMapper }}
	              	<!-- Widget -->
					<!-- Widget -->
		              {{#slotWidgetMapper 'slot_7'}}
		                {{> widgets/widgetGeneric}}
		              {{/slotWidgetMapper }}
	              	<!-- Widget -->

				</div>
			</aside>
			<!-- Sidebar -->
		</div>
		<!-- End of row -->
	</div>
	<!-- End of Container -->
</section>