<div class="card {{featured}}">
  <a href="{{permalink}}" >
      <img class="img-responsive" src="{{image}}">
      <div class="overlay">
        {{title}} 
      </div>
  </a>
  {{#if category}}
      <a href="#" class="category-label {{lowercase category}}">
        <div>
          <span>
            {{category}}
          </span>
        </div>
      </a>
  {{/if}}
</div>
