<div class="card card-large col-lg-4 col-md-4 col-sm-4">
  <a href="{{permalink}}" >
      <img class="img-responsive" src="{{image}}">
      <div class="overlay">
        {{title}}
      </div>
  </a>
  {{#if category}}
      <a href="#" class="category-label {{category}}">
        <div>
          <span>
            {{category}}
          </span>
        </div>
      </a>
  {{/if}}
</div>
