<div class="card-category">
  <a href="{{permalink}}" >
      <img alt="{{title}}" class="img-responsive" src="{{image}}">
      <div class="overlay">
        <a href="#" class="category-label {{category}}">
          <div>
            <span>
              {{category}}
            </span>
          </div>
        </a>
        <a href="{{permalink}}" class="title">
          {{title}}
        </a>
        <time class="post-time">
          1 day ago
        </time>  
      </div>
  </a>
</div>
